@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
  --font-raleway: 'Raleway', sans-serif;
  --font-dm-sans: 'DM Sans', sans-serif;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.text1 {
  font-family: var(--font-raleway);
}

.text2 {
  font-family: var(--font-dm-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
